html{
    background-color: aliceblue;
    font-family: 'Oswald', sans-serif;
}
body{
    margin: auto;
}

/*
    HEADER
*/
header{
    background-color: #333;
display: flexbox;

}
header h1{
    color: whitesmoke;
}
.header-nav{
    clear: both;
}
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}  
header li {
    display: inline-block;
    border-radius: 5px;
}
header li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/*
    END
*/

/*
    SIDE NAV
*/
#side-nav{
    background-color: aqua;
    width: 8em;
    float: left;
}
#side-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;

} 
#side-nav li{
    padding: 0.5em;
} 
#side-nav li a {
    text-decoration: none;
    display: block;
}
/*
    END
*/

/*
    ARTICLE
*/
article{
    background-color: #4b4b4b;
    color: whitesmoke;
    width: 80%;
    display: inline-block;

}
footer{
    background-color: #333;
    color: whitesmoke;
    text-align: center;
    clear:both;
}
.pd{
    padding: 20px 20px;
}

